@import './custom.scss';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

#root {
  margin: 0px auto;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inconsolata", monospace;
  color: $dark;
  background-color: $light;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
#root::-webkit-scrollbar {
  display: none;
}

.custom-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* hide scrollbar for chrome, safari and opera */
.custom-container::-webkit-scrollbar {
  display: none;
}


html {
  background-color: $light;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

header, footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

h6 {
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  color: $dark
}

body, p, span {
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  color: $dark
}

.container {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  min-width: 90%;
}

.font-small {
  font-size: 0.833rem;
}

.text-gray {
  color: $border-color
}

@keyframes fadeIn {
  from {
    opacity: 0;
    //transform: translateY(-400px); // Moves the element 20 pixels up from its start position
  }
  to {
    opacity: 1;
    //transform: translateY(0);
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-40px); // Moves the element 20 pixels up from its start position
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-top {
  opacity: 0; // Start from invisible
  animation: fadeInFromTop 0.8s ease-out forwards; // Adding 500ms delay
}

@keyframes fadeInOutToTop {
  from {
    opacity: 1;
    transform: translateY(0); // Moves the element 20 pixels up from its start position
  }
  to {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.fade-out-top {
  opacity: 0; // Start from invisible
  animation: fadeInOutToTop 0.8s ease-out forwards; // Adding 500ms delay
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.float {
  display: inline-block;
  animation: float 3s ease-in-out infinite;
}

.section-header {
  height: 150px;
  width: 100%;
  background-image: url('@assets/svg/tabs.svg');
  background-position: center;
  background-size: contain; /* Adjust as needed */
  background-repeat: no-repeat; /* Prevent repetition */
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  background-color: $light;
  height: 100%;
}

.header-img {
  height: auto;
  width: 100%;
}

.header-icon {
  height: 150px;
  width: auto;
}

